<h1>Atualização de Ong</h1>
{{#each doador}}
    <form action="/updateOng" method="POST">
            <input type="text" name="codigo" readonly="true" value={{id}}>
            <input type="text" name="nome" value={{nome}}>
            <input type="text" name="senha" value={{senha}}>
            <input type="submit" name="conectar">
    </form>
{{/each}}