<form class="form-group col-md-12" id="cssCadastro" action="" method="POST" style="background-color:#e9ecef;">

<br><br><br><br>

<h1>Tipo de Cadastro</h1><br>

  <div>
  <a href="/cadastroOng" class="btn btn-dark">Doador / Ong</a>
  </div><br>

  <div>
   <a href="/cadastroAdministrador" class="btn btn-dark">Administrador</a>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</form>
