<br>
<br>
<form class="container">
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Usuário</label>
      <input type="text" class="form-control" id="inputUsario" placeholder="Nome de Usuário">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">E-mail</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="E-mail">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Senha</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">CPF / CNPJ</label>
      <input type="text" class="form-control" id="inputCpf" placeholder=" Digite seu CPF / CNPJ">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Rua Paraná, nº 0">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Complemento</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Selecione uma Cidade">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>Acre (AC)</option>
        <option>Alagoas (AL)</option>
        <option>Amapá (AP)</option>
        <option>Amazonas (AM)</option>
        <option>Bahia (BA)</option>
        <option>Ceará (CE)</option>
        <option>Distrito Federal (DF)</option>
        <option>Espírito Santo (ES)</option>
        <option>Goiás (GO)</option>
        <option>Maranhão (MA)</option>
        <option>Mato Grosso (MT)</option>
        <option>Mato Grosso do Sul (MS)</option>
        <option>Minas Gerais (MG)</option>
        <option>Pará (PA)</option>
        <option>Paraíba (PB)</option>
        <option>Paraná (PR)</option>
        <option>Pernambuco (PE)</option>
        <option>Piauí (PI)</option>
        <option>Rio de Janeiro (RJ)</option>
        <option>Rio Grande do Norte (RN)</option>
        <option>Rio Grande do Sul (RS)</option>
        <option>Rondônia (RO)</option>
        <option>Roraima (RR)</option>
        <option>Santa Catarina (SC)</option>
        <option>São Paulo (SP)</option>
        <option>Sergipe (SE)</option>
        <option>Tocantins (TO)</option>
      </select>
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputCEP">CEP</label>
      <input type="text"  class="form-control " pattern="\d{5}-?\d{3}" placeholder="Ex: 0000-000" id="inputCEP">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Telefone para Contato</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Digite um telefone para contato">
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Confirmar Dados
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-dark">Cadastrar</button>
</form>