<div style="background-color:#e9ecef;">
<br>
<br>
<br>
<div class="container" id="tituloLogin" style="background-color:#e9ecef;" >
<h1>Login</h1>
<br>
<form action="/login" method="POST" id="login" >
    <input type="email" name="email" placeholder="E-mail"/><br><br>
    <input type="password" name="senha" placeholder="Senha"/>
    <br><br>
    <input type="submit" value='Login' class="btn btn-dark">
    <a href="cadastroGeral" class="btn btn-dark">Cadastrar</a>
</form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
