<h1>Faça Login</h1>
<form method="POST" action="/login">
    Usuário:<input type="text" name="nome"><br>
    Senha:<input type="password" name="senha"><br>
    <input type="submit">
</form>


























<!--<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" id="tituloLogin" >
<h1>Login</h1>
<br>
<form action="/login" method="POST" id="login" >
    <input type="text" name="nome" placeholder="Nome / Razão Social "/><br><br>
    <input type="password" name="senha" placeholder="Senha"/>
    <br><br>
    <button type="button" class="btn btn-dark">Enviar</button> 
    <button type="button" class="btn btn-dark">Cadastrar</button>
</form>
</div>-->


<br>
<br>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Atualizar</th>
        <th>Excluir</th>
    </tr>
    {{#each doador}}
        <tr>
            <td>{{nome}}</td>
            <td>{{senha}}</td>
            <td><a href="/update/{{id}}">Modificar</a></td>  
            <td><a href="/delete/{{id}}">Apagar</a></td>
        </tr>
    {{/each}}
</table>

