
<div class="jumbotron jumbotron-fluid">

  <div class="container">
  
    <h1 class="display-4">Doe, Ajude, Faça o bem!</h1>
    <p class="lead">"O ato de doar-se significa ajudar o próximo, faze-lo feliz de alguma forma, por mais simples que seja sua ação. A cada ajuda,um mérito próprio."</p>
  </div>
</div>

