nav{
    font-size: 25px;
    
}

body nav div div a {
   margin-right: 25px;
   margin-left: 25px;
   padding: 10%;
}

.stilo-card {
    left: 20%;
    position: absolute;
}

#botaoCadastrar {
    margin-left: 0%;
}

#imagemOng {
    font-size: 25px;
}

#tituloLogin {
    text-align: center;
}

#cadastrarDoacao{
    margin: auto;
    text-align: center;
}

#tamanhoDaFonte{
    font-size: 25px;
   
}

#atualizarUsuario {
    text-align: center;
}

#cssCadastro {
    text-align: center;
}

.card-img-top {
    height: 70%;
    
}

body {
    background-color:#e9ecef;
}